<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<div class="container">
<form id="index">
    <input type="text" name="user" >
    <button class="btn btn-primary">Submit</button>
    
</form>
<table class="table">
    <tr>
        <th>Avatar</th>
        <th>Login</th>
        <th>Url</th>
    </tr>
    <% data.forEach(function(item) { %>
        <tr>
        <td><img height="50px" width="50px" class="rounded" src="<%= item.avatar_url %>" > </td>
        <td><%= item.login %> </td>
        <td><a href="<%= item.url %>"><%= item.url %> </a> </td>
    </tr>
       
    <% }); %>

</table>
</div>